@use '@angular/material' as mat;
@import "../../../../assets/styles/variables.scss";


.footer {
  padding-top: 39px;
  padding-bottom: 50px;
  background-color: #648F64;
  color: $gray-text-color;

  .container {
    display: flex;

    a.logo {
      margin-right: 63px;
      @include mat.elevation-transition();
      @include mat.elevation(2, #43f849);

      &:hover {
        @include mat.elevation(10, #43f849);
      }

    }

    .footer-block {
      margin-top: 11px;

      .footer-head {
        font-weight: 500;
        margin-bottom: 25px;
        text-transform: uppercase;
      }

      .footer-items {
        ul {
          li {
            margin-bottom: 11px;

            &:last-child {
              margin-bottom: 0;
            }

            a {

            }
          }
        }
      }

      &.footer-menu {
        margin-right: 57px;
      }

      &.footer-categories {
        margin-right: 34px;
      }

      &.footer-info {
        margin-right: 63px;

        .footer-head {
          margin-bottom: 15px;
        }

        .footer-social {
          display: flex;
          align-items: center;
          margin-bottom: 55px;

          a {
            margin-right: 12px;
          }
        }

        .footer-payment {
          display: grid;
          grid-template-columns: repeat(3, 70px);
          gap: 10px;
          max-width: 230px;

          .payment-item {
            cursor: pointer;
            height: 35px;
            background-position: top;
            border-radius: 3px;
            @include mat.elevation-transition();
            @include mat.elevation(5, #43f849);

            &:hover {
              @include mat.elevation(20, #43f849);
            }
          }
        }
      }

      &.footer-contacts {
        max-width: 253px;

        .footer-contact {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .footer-contact-head {
            font-weight: 500;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
