@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorite {
  padding-top: 50px;
  padding-bottom: 110px;

  .container {
    .favorite-title {
      @include head-lora-36;
      color: $green-text-color;
      margin-bottom: 35px;
    }

    .favorite-products {
      .favorite-product {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $greenish-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: 0;
        }

        .favorite-product-image {
          background-size: cover;
          background-position: center;
          border-radius: 5px;
          width: 100px;
          height: 100px;
        }

        .favorite-product-name {
          color: $gray-text-color;
          margin-left: 24px;
          font-size: 20px;
          width: 567px;
          margin-right: 20px;
        }

        .favorite-product-price {
          width: 100px;
          margin-right: 193px;
          font-size: 22px;
          font-weight: 600;
          color: $gray-text-color;
        }

        .favorite-product-action .button {
          width: 160px;
        }

        .favorite-product-remove {
          cursor: pointer;
          margin-left: 61px;
          padding-top: 3px;
        }
      }
    }
  }
}
