@import "mixins";
@import "variables";

.data-form {
  min-width: 646px;

  .data-form-block {
    margin-bottom: 30px;

    .data-form-label {
      margin-bottom: 20px;
      font-weight: 500;
      color: $gray-text-color;
    }

    .data-form-label-additional {
      color: $gray-text-color;
      margin-bottom: 20px;
      line-height: 130%;
      max-width: 528px;
    }

    .data-form-types {
      max-width: 340px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid #519157;
      border-radius: 3px;
      font-size: 18px;
      text-align: center;
      color: $gray-text-color;

      .data-form-type-item {
        position: relative;
        z-index: 1;
        padding: 13px 35px;
        cursor: pointer;
        background: transparent;

        &.active {
          background: #519157;
          color: #FFFFFF;
        }
      }
    }

    .data-form-inputs {
      position: relative;
      z-index: 1;
      display: grid;
      gap: 8px;

      input[type=text] {
        height: 53px;
      }

      &.personal-data-inputs {
        grid-template-columns:repeat(3, 210px);
      }

      &.address-inputs {
        grid-template-columns: repeat(2, 125px)162px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
                  "street street street"
                  "house entrance apartment";

        .street {
          grid-area: street;
        }

        .house {
          grid-area: house;
        }

        .entrance {
          grid-area: entrance;
        }

        .apartment {
          grid-area: apartment;
        }
      }
    }

    .data-form-radio {
      .data-form-radio-block {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          color: $gray-text-color;
        }

        input:checked {
          + label {
            font-weight: 500;
          }
        }
      }
    }
  }
}
