$container-width: 1240px;
$green-text-color: #202b21;
$light-green-text-color: #519057;
$gray-text-color: #2C2C2C;
$light-gray-text-color: #A8ABA7;
$red-test-color: #f00909;
$main-green-color: #2A592E;
$light-green-background-color: #B6D5B9;
$gray-line-color: #EBEBEB;
$greenish-color: #E7F1E8;
$green-border-color: #6CAC72;
