<section class="order">
  <div class="container">
    <div class="order-title">Оформление вашего заказа</div>
    <div class="order-info">
      <div class="order-form" [formGroup]="orderForm">
        <div class="order-form-block">
          <div class="order-form-label">Выберите способ доставки</div>
          <div class="order-form-types">
            <div class="order-form-type-item " [class.active]="deliveryType===deliveryTypes.delivery"
                 (click)="changeDeliveryType(deliveryTypes.delivery)">Курьером
            </div>
            <div class="order-form-type-item" [class.active]="deliveryType===deliveryTypes.self"
                 (click)="changeDeliveryType(deliveryTypes.self)">Самовывоз
            </div>
          </div>
        </div>
        <div class="order-form-block">
          <div class="order-form-label">Заполните личные данные</div>
          <div class="order-form-inputs personal-data-inputs">
            <input type="text" placeholder="Фамилия" class="input" formControlName="lastName"
                   [ngStyle]="{'border-color':orderForm.get('lastName')?.invalid&&(orderForm.get('lastName')?.dirty||orderForm.get('lastName')?.touched)?'red':''}">
            <input type="text" placeholder="Имя" class="input" formControlName="firstName"
                   [ngStyle]="{'border-color':orderForm.get('firstName')?.invalid&&(orderForm.get('firstName')?.dirty||orderForm.get('firstName')?.touched)?'red':''}">
            <input type="text" placeholder="Отчество" class="input" formControlName="fatherName">
            <input type="text" placeholder="Телефон" class="input" formControlName="phone"
                   [ngStyle]="{'border-color':orderForm.get('phone')?.invalid&&(orderForm.get('phone')?.dirty||orderForm.get('phone')?.touched)?'red':''}">
            <input type="text" placeholder="E-mail" class="input" formControlName="email"
                   [ngStyle]="{'border-color':orderForm.get('email')?.invalid&&(orderForm.get('email')?.dirty||orderForm.get('email')?.touched)?'red':''}">
          </div>
        </div>
        <div class="order-form-block" *ngIf="deliveryType!==deliveryTypes.self">
          <div class="order-form-label">Заполните адрес доставки</div>
          <div class="order-form-inputs address-inputs">
            <input type="text" placeholder="Улица" class="input street" formControlName="street"
                   [ngStyle]="{'border-color':orderForm.get('street')?.invalid&&(orderForm.get('street')?.dirty||orderForm.get('street')?.touched)?'red':''}">
            <input type="text" placeholder="№ дома" class="input house" formControlName="house"
                   [ngStyle]="{'border-color':orderForm.get('house')?.invalid&&(orderForm.get('house')?.dirty||orderForm.get('house')?.touched)?'red':''}">
            <input type="text" placeholder="Подъезд" class="input entrance" formControlName="entrance">
            <input type="text" placeholder="№ квартиры" class="input apartment" formControlName="apartment">
          </div>
        </div>
        <div class="order-form-block">
          <div class="order-form-label">Выберите способ оплаты</div>
          <div class="order-form-radio">
            <div class="order-form-radio-block">
              <input type="radio" id="card" value="{{paymentTypes.cardOnline}}"
                     formControlName="paymentType">
              <label for="card">Оплата банковской картой в интернет-магазине</label>
            </div>
            <div class="order-form-radio-block">
              <input type="radio" id="cashless" value="{{paymentTypes.cardToCourier}}"
                     formControlName="paymentType">
              <label for="cashless">Безналичный расчет при получении</label>
            </div>
            <div class="order-form-radio-block">
              <input type="radio" id="cash" value="{{paymentTypes.cashToCourier}}"
                     formControlName="paymentType">
              <label for="cash">Наличный расчет при получении</label>
            </div>

          </div>
        </div>
        <div class="order-form-block">
          <div class="order-form-label">Комментарий к заказу (необязательно)</div>
          <textarea cols="30" rows="5" class="input" placeholder="Оставьте свой комментарий..."
                    formControlName="comment"></textarea>
        </div>
      </div>
      <div class="order-details">
        <div class="order-details-info">
          <div class="order-details-info-title">Ваш заказ</div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Товаров:</div>
            <div class="order-details-info-item-data">{{totalCount}}</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Общая стоимость:</div>
            <div class="order-details-info-item-data">{{totalAmount}} BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Стоимость доставки:</div>
            <div class="order-details-info-item-data">10 BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Итоговая стоимость:</div>
            <div class="order-details-info-item-data">{{totalAmount + 10}} BYN</div>
          </div>
        </div>
        <button class="button" (click)="createOrder()">Оформить заказ</button>
      </div>
    </div>
  </div>
</section>
