@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/data-form";

.order {
  padding-top: 86px;
  padding-bottom: 107px;

  .container {
    .order-title {
      @include head-lora-32;
    }

    .order-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      //align-items: flex-start;

      .order-details {
        width: 422px;

        .order-details-info {
          border-radius: 5px;
          background: $greenish-color;
          padding: 40px;
          margin-bottom: 14px;

          .order-details-info-title {
            @include head-lora-26;
            margin-bottom: 20px;
          }

          .order-details-info-item {
            display: flex;
            align-items: center;
            color: $gray-text-color;
            margin-bottom: 10px;

            .order-details-info-item-text {
              margin-right: 12px;
            }

            .order-details-info-item-data {
              font-size: 20px;
              font-weight: 500;
            }

            &:last-child {
              margin-bottom: 0;

              .order-details-info-item-text,
              .order-details-info-item-data {
                font-weight: 600;
              }
            }
          }
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}

.order-popup {
  padding: 100px 70px 220px;
  position: relative;
  text-align: center;
  color: $green-text-color;
  background-image: url("../../../../assets/images/page/popup-image.png");
  background-position: center bottom;
  background-repeat: no-repeat;

  .order-popup-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .order-popup-title {
    @include head-lora-32;
    margin-bottom: 40px;
  }

  .order-popup-content div {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

