@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.order {
  padding-top: 86px;
  padding-bottom: 107px;

  .container {
    .order-title {
      @include head-lora-32;
    }

    .order-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      //align-items: flex-start;

      .order-form {
        min-width: 646px;

        .order-form-block {
          margin-bottom: 30px;

          .order-form-label {
            margin-bottom: 20px;
            font-weight: 500;
            color: $gray-text-color;
          }

          .order-form-types {
            max-width: 340px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border: 1px solid #519157;
            border-radius: 3px;
            font-size: 18px;
            text-align: center;
            color: $gray-text-color;

            .order-form-type-item {
              padding: 13px 35px;
              cursor: pointer;
              background: transparent;

              &.active {
                background: #519157;
                color: #FFFFFF;
              }
            }
          }

          .order-form-inputs {
            display: grid;
            gap: 8px;

            input[type=text] {
              height: 53px;
            }

            &.personal-data-inputs {
              grid-template-columns:repeat(3, 210px);
            }

            &.address-inputs {
              grid-template-columns: repeat(2, 125px)162px;
              grid-template-rows: 1fr 1fr;
              grid-template-areas:
                  "street street street"
                  "house entrance apartment";

              .street {
                grid-area: street;
              }

              .house {
                grid-area: house;
              }

              .entrance {
                grid-area: entrance;
              }

              .apartment {
                grid-area: apartment;
              }
            }
          }

          .order-form-radio {
            .order-form-radio-block {
              margin-bottom: 12px;

              &:last-child {
                margin-bottom: 0;
              }

              label {
                color: $gray-text-color;
              }

              input:checked {
                + label {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      .order-details {
        width: 422px;

        .order-details-info {
          border-radius: 5px;
          background: $greenish-color;
          padding: 40px;
          margin-bottom: 14px;

          .order-details-info-title {
            @include head-lora-26;
            margin-bottom: 20px;
          }

          .order-details-info-item {
            display: flex;
            align-items: center;
            color: $gray-text-color;
            margin-bottom: 10px;

            .order-details-info-item-text {
              margin-right: 12px;
            }

            .order-details-info-item-data {
              font-size: 20px;
              font-weight: 500;
            }

            &:last-child {
              margin-bottom: 0;

              .order-details-info-item-text,
              .order-details-info-item-data {
                font-weight: 600;
              }
            }
          }
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}

