<section class="login">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input" placeholder="Электронная почта">
        </div>
        <div class="auth-input">
          <input type="password" class="input" placeholder="Пароль">
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember">
          <label for="remember">Запомнить меня</label>
        </div>
      </div>
      <div class="auth-action">
        <button class="button">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта?
        <a routerLink="/signup">Зарегистрируйтесь</a>
      </div>
    </div>
    <div class="page-image">
      <img src="/assets/images/page/login.png" alt="background image">
    </div>
  </div>
</section>
