@import "../../../../assets/styles/variables";

.catalog-filter {
  margin-bottom: 12px;
  border-radius: 5px;
  color: $gray-text-color;

  .catalog-filter-head {
    border-radius: 5px;
    background: $light-green-background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 23px;
    cursor: pointer;
  }

  &.open .catalog-filter-head {
    border-radius: 5px 5px 0 0;

    svg {
      margin-top: 2px;
    }
  }

  .catalog-filter-body {
    display: none;
    padding: 12px 16px;
    border-radius: 0 0 5px 5px;
    border: 1px solid $light-green-background-color;

    .catalog-filter-checkbox {
      display: flex;
      align-items: baseline;
      margin-bottom: 19px;
      line-height: 130%;
      cursor: pointer;
      input{cursor: pointer}

      &:last-child {
        margin-bottom: 0;
      }

      span {
        margin-left: 10px;
      }
    }

    .catalog-filter-from-to {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &.open .catalog-filter-body {
    display: block;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
