.count-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97px;

  .count-control {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
